<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!--	<typeAliases>-->
<!--		<typeAlias alias="BookEntity" type="com.hlbrc.bicyclesales.entiey.BookEntity" />-->
<!--	</typeAliases>-->
	<!-- 完成控件导入的配置（拦截操作） -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库 -->
			<property name="dialect" value="mysql" />
		</plugin>
	</plugins>
	<mappers>
		<mapper resource="com/hlbrc/bicyclesales/mapper/BaseMapper.xml" />
	</mappers>
</configuration>
	
