<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlbrc.bicyclesales.mapper.IBaseMapper">
    <insert id="insert" parameterType="Map" keyProperty="id">
        insert into ${tablename}
        <foreach collection="fields" index="key" item="val" separator="," open="(" close=")">
            ${key}
        </foreach>
            values
        <foreach collection="fields" index="key" item="val" separator="," open="(" close=")">
            <if test=" key== 'id'">
                ${val}
            </if>
            <if test=" key != 'id'">
                #{val}
            </if>
        </foreach>
    </insert>
    <update id="update" parameterType="Map">
        update ${tablename} set
        <foreach collection="fields" index="key" item="val" separator=",">
            <if test=" key != null and key !='id'">${key}=#{val}</if>
        </foreach>
        where id = ${id}
    </update>
    <select id="findById" resultType="Map" parameterType="Map">
        select * from ${tablename} where id = #{id}
    </select>
    <select id="findAll" resultType="Map" parameterType="Map">
        select a.* from ${tablename} a
        where 1 =1
        <if test="issoftdel != null and issoftdel != '' and issoftdel == 'false'">
            and a.delflag != 1
        </if>
    </select>
    <delete id="deleteById" parameterType="Map">
        delete from ${tablename} where id = #{id}
    </delete>
    <update id="deleteSoftById" parameterType="Map">
        update ${tablename} set delflag = 1
        where id = #{id}
    </update>
    <select id="findByCondition" resultType="Map" parameterType="Map">
        select * from ${tablename} a
        where a.${code} = #{value}
        <if test="issoftdel != null and issoftdel != '' and issoftdel =='false'">
            and a.delflag != 1
        </if>
    </select>
    <select id="findNextId" parameterType="Map" resultType="int">
        select ifnull(max(id),0)+1 from ${tablename}
    </select>
</mapper>