<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlbrc.bicyclesales.mapper.IOrderFormDetailMapper">
  <resultMap id="BaseResultMap" type="com.hlbrc.bicyclesales.entity.OrderFormDetail">
    <id column="orderFormDetailId" jdbcType="INTEGER" property="orderformdetailid" />
    <result column="orderFormId" jdbcType="INTEGER" property="orderformid" />
    <result column="bicycleId" jdbcType="INTEGER" property="bicycleid" />
    <result column="num" jdbcType="DOUBLE" property="num" />
    <result column="money" jdbcType="DOUBLE" property="money" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    orderFormDetailId, orderFormId, bicycleId, num, money
  </sql>
  <select id="selectByExample" parameterType="com.hlbrc.bicyclesales.entity.OrderFormDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderformdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderformdetail
    where orderFormDetailId = #{orderformdetailid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderformdetail
    where orderFormDetailId = #{orderformdetailid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hlbrc.bicyclesales.entity.OrderFormDetailExample">
    delete from orderformdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hlbrc.bicyclesales.entity.OrderFormDetail">
    insert into orderformdetail (orderFormDetailId, orderFormId, bicycleId, 
      num, money)
    values (#{orderformdetailid,jdbcType=INTEGER}, #{orderformid,jdbcType=INTEGER}, #{bicycleid,jdbcType=INTEGER}, 
      #{num,jdbcType=DOUBLE}, #{money,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.hlbrc.bicyclesales.entity.OrderFormDetail">
    insert into orderformdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderformdetailid != null">
        orderFormDetailId,
      </if>
      <if test="orderformid != null">
        orderFormId,
      </if>
      <if test="bicycleid != null">
        bicycleId,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderformdetailid != null">
        #{orderformdetailid,jdbcType=INTEGER},
      </if>
      <if test="orderformid != null">
        #{orderformid,jdbcType=INTEGER},
      </if>
      <if test="bicycleid != null">
        #{bicycleid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=DOUBLE},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hlbrc.bicyclesales.entity.OrderFormDetailExample" resultType="java.lang.Long">
    select count(*) from orderformdetail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orderformdetail
    <set>
      <if test="record.orderformdetailid != null">
        orderFormDetailId = #{record.orderformdetailid,jdbcType=INTEGER},
      </if>
      <if test="record.orderformid != null">
        orderFormId = #{record.orderformid,jdbcType=INTEGER},
      </if>
      <if test="record.bicycleid != null">
        bicycleId = #{record.bicycleid,jdbcType=INTEGER},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=DOUBLE},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orderformdetail
    set orderFormDetailId = #{record.orderformdetailid,jdbcType=INTEGER},
      orderFormId = #{record.orderformid,jdbcType=INTEGER},
      bicycleId = #{record.bicycleid,jdbcType=INTEGER},
      num = #{record.num,jdbcType=DOUBLE},
      money = #{record.money,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hlbrc.bicyclesales.entity.OrderFormDetail">
    update orderformdetail
    <set>
      <if test="orderformid != null">
        orderFormId = #{orderformid,jdbcType=INTEGER},
      </if>
      <if test="bicycleid != null">
        bicycleId = #{bicycleid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=DOUBLE},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
    </set>
    where orderFormDetailId = #{orderformdetailid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hlbrc.bicyclesales.entity.OrderFormDetail">
    update orderformdetail
    set orderFormId = #{orderformid,jdbcType=INTEGER},
      bicycleId = #{bicycleid,jdbcType=INTEGER},
      num = #{num,jdbcType=DOUBLE},
      money = #{money,jdbcType=DOUBLE}
    where orderFormDetailId = #{orderformdetailid,jdbcType=INTEGER}
  </update>
</mapper>