<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlbrc.bicyclesales.mapper.IOrderformdetailMapper">
  <resultMap id="BaseResultMap" type="com.hlbrc.bicyclesales.entity.Orderformdetail">
    <id column="orderFormDetailId" jdbcType="INTEGER" property="orderformdetailid" />
    <result column="orderFormId" jdbcType="INTEGER" property="orderformid" />
    <result column="bicycleId" jdbcType="INTEGER" property="bicycleid" />
    <result column="num" jdbcType="DOUBLE" property="num" />
    <result column="money" jdbcType="DOUBLE" property="money" />
  </resultMap>
  <sql id="Base_Column_List">
    orderFormDetailId, orderFormId, bicycleId, num, money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderformdetail
    where orderFormDetailId = #{orderformdetailid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderformdetail
    where orderFormDetailId = #{orderformdetailid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hlbrc.bicyclesales.entity.Orderformdetail">
    insert into orderformdetail (orderFormDetailId, orderFormId, bicycleId, 
      num, money)
    values (#{orderformdetailid,jdbcType=INTEGER}, #{orderformid,jdbcType=INTEGER}, #{bicycleid,jdbcType=INTEGER}, 
      #{num,jdbcType=DOUBLE}, #{money,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.hlbrc.bicyclesales.entity.Orderformdetail">
    insert into orderformdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderformdetailid != null">
        orderFormDetailId,
      </if>
      <if test="orderformid != null">
        orderFormId,
      </if>
      <if test="bicycleid != null">
        bicycleId,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderformdetailid != null">
        #{orderformdetailid,jdbcType=INTEGER},
      </if>
      <if test="orderformid != null">
        #{orderformid,jdbcType=INTEGER},
      </if>
      <if test="bicycleid != null">
        #{bicycleid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=DOUBLE},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hlbrc.bicyclesales.entity.Orderformdetail">
    update orderformdetail
    <set>
      <if test="orderformid != null">
        orderFormId = #{orderformid,jdbcType=INTEGER},
      </if>
      <if test="bicycleid != null">
        bicycleId = #{bicycleid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=DOUBLE},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
    </set>
    where orderFormDetailId = #{orderformdetailid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hlbrc.bicyclesales.entity.Orderformdetail">
    update orderformdetail
    set orderFormId = #{orderformid,jdbcType=INTEGER},
      bicycleId = #{bicycleid,jdbcType=INTEGER},
      num = #{num,jdbcType=DOUBLE},
      money = #{money,jdbcType=DOUBLE}
    where orderFormDetailId = #{orderformdetailid,jdbcType=INTEGER}
  </update>
</mapper>